*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: olivedrab;
    margin: 0;
    /*center piano in the middle*/
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piano {
    /*lined up keys next to each other*/
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 100px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #ccc;
}

.black{
    --width: 60px;
    background-color: black;
    /*make black keys show up on top of the white keys*/
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
}

.black.active {
    background-color: #333;
}
